<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
</head>
<body>
    <div class="dashboard">
        <form class="dashboard-form" action="/getdashboard/">
            <h1>dashboard</h1>
            <div class="dashboard_input">
                <input type="email" class="logs" placeholder="email">
                <input type="password" class="logs" placeholder="password">
            </div>
        </form>
    </div>
</body>
</html>